{% extends 'base.html' %}

{% block content %}

<h1>Stacje pomiarowe</h1>
{% for station in stations %}
    <h2>{{ station.stationName }}</h2>
    <div>
        {% for sensors in air_quality_data %}
            
            {% for sensor in sensors %}
                {% if sensor.stationId == station.id %}
                    <!-- {% if value.param.paramName == "PM10" %} -->
                        <!-- <li>PM10: {{ value.value }} {{ value.param.paramCode }}</li> -->
                        <p>{{sensor}}</p>
                    <!-- {% endif %} -->
               
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
{% endfor %}  


{% endblock %}